<div>
    <h2>MADDE 1 - SATICI BİLGİLERİ:</h2>
    <p>Ünvanı: Erbaş Ticaret Turkey Ticaret Limited Şirketi (Bundan sonra SATICI olarak anılacaktır)</p>
    <p>Adresi: Karşıyaka / İzmir</p>
    <p>Telefon: 0 (850) 111 00 00</p>
    <p>Faks: 0 (212) 111 75 05</p>
    <p>E-Posta Adresi: <a href="mailto:info@erbaseticaret.com.tr">info@erbaseticaret.com.tr</a></p>
    <p>Web Site adresi: <a href="http://www.erbaseticaret.com.tr/">http://www.erbaseticaret.com.tr/</a></p>
    <p>Mersis No: 1111111111</p>

    <h2>MADDE 2 - ÜRÜN BİLGİLERİ:</h2>
    <p>Malın / Ürünün/Hizmetin türü, miktarı, marka/modeli, rengi, adedi, satış bedeli, ödeme şekli, aşagıda
        belirtildigi gibidir.</p>

    <h4>Ürün Listesi :</h4>
    <table>
        <tr>
            <th>Adet</th>
            <th>Ürün Bilgisi</th>
            <th>Birim Fiyatı</th>
            <th>Toplam</th>
        </tr>
        <tr>
            <td>1</td>
            <td>SAMSUNG Galaxy A13 128 GB Akıllı Telefon Mavi<br>Ürün numarası:1220740</td>
            <td>5.699,00 TL</td>
            <td>5.699,00 TL</td>
        </tr>
    </table>
    <p>Hizmet bedeli : 0 TL</p>
    <p>Kargo bedeli : 0 TL</p>
    <p>KDV Tutarı : 869.34TL</p>
    <p>Toplam Fatura Tutarı : 5.699,00 TL</p>
    <p>Ödenen : 0 TL</p>
    <p>Ekstra Bilgiler : -</p>
    <p>Kargo ücreti : 0 TL (Alıcı tarafından ödenir)</p>
    <p>Peşin Satış Tutarı : 5.699,00 TL</p>
    <p>Satış Tutarı : 5.699,00 TL</p>
    <p>Hediye Kartı Tutarı : 0 TL</p>
    <p>Komisyon Tutarı : 0 TL</p>
    <p>Alıcı Şehir : Balıkesir</p>
    <p>Alıcı İlçe : İvrindi</p>
    <p>Alıcı Adresi : bah.elievler</p>
    <p>Alıcı Ad/Soyad/ünvan : Anil Dayioğlu</p>
    <p>Teslimat Adresi : bah.elievler</p>
    <p>Ödeme Şekli : Kredi Kartı / Banka Kartı</p>
    <p>Sorun yaşanması halinde (850) 111 11 00 numaralı çağrı merkezimizi arayabilir veya
        http://www.erbaseticaret.com.tr/ adresinden siparişiniz ile ilgili iletişime geçebilirsiniz.</p>

    <h2>MADDE 3 - GENEL</h2>
    <p>HÜKÜMLER: Sözleşme konusu ürün, yasal 30 günlük süreyi aşmamak koşulu ile her bir ürün için ALICI`nın yerleşim
        yerinin uzaklığına bağlı olarak ön bilgiler içinde açıklanan sure içinde ALICI veya gösterdigi adresteki
        kişi/kuruluşa teslim edilir.
        Tüketicinin, Satıcının belirlediği taşıyıcı dışında başka bir taşıyıcı ile malın gönderilmesini talep etmesi
        durumunda, malın ilgili taşıyıcıya tesliminden itibaren oluşabilecek kayıp ya da hasardan Satıcı sorumlu
        değildir.
    </p>
    <h2>MADDE 4 - CAYMA HAKKI:</h2>

    <p> 1 Tüketici, on dört gün içinde herhangi bir gerekçe göstermeksizin ve cezai şart ödemeksizin sözleşmeden cayma
        hakkına sahiptir.</p>

    <p> (2) Cayma hakkı süresi, hizmet ifasına ilişkin sözleşmelerde sözleşmenin kurulduğu gün; mal teslimine ilişkin
        sözleşmelerde ise tüketicinin veya tüketici tarafından belirlenen üçüncü kişinin malı teslim aldığı gün başlar.
        Ancak tüketici, sözleşmenin kurulmasından malın teslimine kadar olan süre içinde de cayma hakkını kullanabilir.</p>

    <p> (3) Cayma hakkı süresinin belirlenmesinde;</p>

    <p> a Tek sipariş konusu olup ayrı ayrı teslim edilen mallarda, tüketicinin veya tüketici tarafından belirlenen
        üçüncü kişinin son malı teslim aldığı gün,</p>

    <p> b Birden fazla parçadan oluşan mallarda, tüketicinin veya tüketici tarafından belirlenen üçüncü kişinin son
        parçayı teslim aldığı gün,</p>

    <p> c Belirli bir süre boyunca malın düzenli tesliminin yapıldığı sözleşmelerde, tüketicinin veya tüketici
        tarafından belirlenen üçüncü kişinin ilk malı teslim aldığı gün esas alınır.</p>

    <p> (4) Malın satıcı tarafından taşıyıcıya teslimi, tüketiciye yapılan teslim olarak kabul edilmez.</p>

    <p> (5) Mal teslimi ile hizmet ifasının birlikte yapıldığı sözleşmelerde, mal teslimine ilişkin cayma hakkı
        hükümleri uygulanır.</p>

    <p> (6) Cayma hakkının kullanıldığına dair bildirimin cayma hakkı süresi dolmadan, yazılı olarak veya kalıcı veri
        saklayıcısı ile satıcı veya sağlayıcıya yöneltilmesi yeterlidir.</p>

    <p> (7) Satıcı, tüketicinin cayma hakkını kullandığına ilişkin bildirimin kendisine ulaştığı tarihten itibaren on
        dört gün içinde, varsa malın tüketiciye teslim masrafları da dahil olmak üzere tahsil edilen tüm ödemeleri iade
        etmekle yükümlüdür.</p>

    <p> (8) Satıcı, cayma bildirimine konu olan tüm bedelleri, tüketicinin satın alırken kullandığı ödeme aracına uygun
        bir şekilde ve tüketiciye herhangi bir masraf veya yükümlülük getirmeden tek seferde yapmak zorundadır.</p>

    <p> (9) Cayma hakkının kullanımında, Satıcının iade için belirttiği Aras Kargo aracılığı ile malın geri gönderilmesi
        halinde, tüketici iadeye ilişkin masraflardan sorumlu tutulamaz.</p>

    <p> (10) Satıcı malı kendisinin geri alacağına dair bir teklifte bulunmadıkça, tüketici cayma hakkını kullandığına
        ilişkin bildirimi yönelttiği tarihten itibaren on gün içinde malı satıcı ya da yetkilendirmiş olduğu kişiye geri
        göndermek zorundadır.</p>

    <p> (11) Tüketici, cayma süresi içinde malı, işleyişine, teknik özelliklerine ve kullanım talimatlarına uygun bir
        şekilde kullandığı takdirde meydana gelen değişiklik ve bozulmalardan sorumlu değildir.</p>

    <p> (12) 6502 sayılı Tüketicinin Korunması Hakkında Kanun’un 30 uncu maddesi hükümleri saklı kalmak koşuluyla,
        tüketicinin cayma hakkını kullanması durumunda yan sözleşmeler de kendiliğinden sona erer. Bu durumda tüketici,
        yukarıda 11 numaralı bent içerisinde belirtilen haller dışında herhangi bir masraf, tazminat veya cezai şart
        ödemekle yükümlü değildir.</p>

    <p> (13) Satıcı, tüketicinin cayma hakkını kullandığını yan sözleşmenin tarafı olan üçüncü kişiye derhal
        bildirmelidir.</p>

    <p> (14) Cayma Hakkının Kullanılamadığı durumlar ve İstisnalar:</p>

    <p> (14.1.) Tüketici aşağıdaki hallerde cayma hakkını kullanamaz;</p>

    <p> Niteliği itibarıyla geri gönderilmeye elverişli olmayan ürünler, tek kullanımlık ürünler, çabuk bozulma
        tehlikesi olan, tüketicinin istekleri veya açıkça onun kişisel ihtiyaçları doğrultusunda hazırlanan ürünler veya
        son kullanma tarihi geçme ihtimali olan ürünler için cayma hakkı kullanılamaz. Elektronik ortamda anında ifa
        edilen hizmetler ve tüketiciye anında teslim edilen gayri maddi mallar için cayma hakkı kullanılamaz.</p>

    <p> (14.2) Aşağıdaki ürünlerde cayma hakkının kullanılması, ürünün bant, mühür, paket, koruyucu ambalaj gibi
        koruyucu unsurlarının açılmamış olması şartına bağlıdır.</p>

    <p> Her türlü yazılım ve programlar</p>

    <p> DVD, VCD, CD, kitap ve kasetler</p>

    <p> Bilgisayar ve kırtasiye sarf malzemeleri; toner, kartuş, şerit v.b. ürünler</p>

    <p> İadesi sağlık ve hijyen açısından uygun olmayan kozmetik ve kişisel bakım ve sağlık ürünleri de dahil tüm
        ürünler</p>

    <p> (15) Cayma bildiriminin yapılacağı açık adres, faks numarası ve elektronik posta bilgileri;</p>

    <p> Adres : Karşıyaka / İzmir</p>

    <p> Telefon : 0 (850) 111 15 00</p>

    <p> Faks: 0 (212) 111 75 05</p>

    <p> E-Posta Adresi: info@erbaseticaret.com.tr</p>
    <h2>MADDE 5</h2>
    <p>Uzaktan İletişim Aracının Kullanım Bedelinin Olağan ücret Tarifesi üzerinden Hesaplanmadığı Durumlarda, Bu
        İletişim Aracının Kullanılması Nedeniyle Tüketicilere Yüklenen İlave Maliyet:

        Tüketici tarafından yapılacak olan alışveriş sırasında kullanılacak olan uzaktan iletişim aracı için olağan
        ücret tarifesi dışında bir ücret alınmamaktadır</p>
    <h2>MADDE 6</h2>
    <p>Mal veya Hizmete İlişkin Fiyat Dahil Taahhütlerin Geçerlilik Süresi:

        Satın alımı yapılacak olan ürün/hizmete ilişkin taahhütler ilgili satın alımın yapıldığı gün için geçerlidir.
    </p>
    <h2>MADDE 7</h2>
    <p>Şikayet ve İtirazlara İlişkin Yasal Bilgilendirme

        Tüketiciler şikayet ve itiraz başvurularını, Bakanlıkça her yıl Aralık ayında belirlenen parasal sınırlar
        dahilinde tüketicinin mal veya hizmeti satın aldığı veya ikametgâhının bulunduğu yerdeki tüketici sorunları
        hakem heyetine veya tüketici mahkemesine yapabilecektir.</p>
    <h2>MADDE 8</h2>
    <p>Ürün kutusu veya kullanma kılavuzunda belirtilen sistem gereksinimleri ve uyarılar doğrultusunda uygun donanım ve
        yazılımla kullanılabilir.</p>
    <hr>
    <hr>
    <hr>
    <h2>SATIŞ SÖZLEŞMESİ</h2>

    www.erbaseticaret.com.tr
    TARİH : 4/2/2023

    <H2>MADDE 1 - KONU:</H2>
    <p> İşbu sözleşmenin konusu, SATICI`nın, ALICI`ya satışını yaptığı, aşağıda nitelikleri ve satış fiyatı belirtilen
        ürünün satışı ve teslimi ile ilgili olarak 6502 sayılı Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli
        Sözleşmeler Yönetmeliği hükümleri gereğince tarafların hak ve yükümlülüklerinin kapsamaktadır.</p>


    <h2> MADDE 2 - SATICI BİLGİLERİ:</h2>
    <p>Ünvanı: Erbaş Ticaret Turkey Ticaret Limited Şirketi (Bundan sonra SATICI olarak anılacaktır)</p>
    <p>Adresi: Karşıyaka / İzmir</p>
    <p>Telefon: 0 (850) 111 00 00</p>
    <p>Faks: 0 (212) 111 75 05</p>
    <p>E-Posta Adresi: <a href="mailto:info@erbaseticaret.com.tr">info@erbaseticaret.com.tr</a></p>
    <p>Web Site adresi: <a href="http://www.erbaseticaret.com.tr/">http://www.erbaseticaret.com.tr/</a></p>
    <p>Mersis No: 1111111111</p>

    <H2> MADDE 3 - ALICI BİLGİLERİ:</H2>
    <p>Adı/Soyadı/ünvanı : Anil Dayioğlu</p>
    <p>Şehir : city</p>
    <p>İlçe : İvrindi</p>
    <p>Adres : bah.elievler</p>
    <p>Telefon : +905076586219</p>
    <p>E-Posta Adresi : anildayi1559357@gmail.com</p>

    <h2>MADDE 4 - SÖZLEŞME KONUSU ÜRÜN BİLGİLERİ:</h2>
    <p> Malın / ürünün/Hizmetin türü, miktarı, marka/modeli, rengi, adedi, satış bedeli, ödeme şekli, aşagıda
        belirtildigi
        gibidir.</p>

    <h3>ürün Listesi :</h3>
    Adet Ürün Bilgisi Birim Fiyatı Toplam
    1 SAMSUNG Galaxy A13 128 GB Akıllı Telefon Mavi
    Ürün numarası:1220740 5.699,00 TL 5.699,00 TL
    Hizmet bedeli: 0 TL
    Kargo bedeli: 0 TL
    KDV Tutarı: 869.34
    Toplam Fatura Tutarı: 5.699,00 TL
    Ödenen: 0 TL
    Ekstra Bilgiler: 0 TL
    Kargo ücreti: 0 TL(Alıcı tarafından Ödenir)
    Peşin Satış Tutarı: 5.699,00 TL
    Satış Tutarı: 5.699,00 TL
    Hediye Kartı Tutarı: 0 TL
    Komisyon Tutarı: 0 TL
    Alıcı Şehir: Balıkesir
    Alıcı İlçe: İvrindi
    Alıcı Adresi: bah.elievler
    Alıcı Ad/Soyad/ünvan: Anil Dayioğlu
    Teslimat Adresi: bah.elievler
    Ödeme Şekli: Kredi Kartı / Banka Kartı
    Sorun yaşanması halinde 0 (850) 222 15 00 numaralı çağrı merkezimizi arayabilir veya
    musterihizmetleri@mediamarkt.com.tr adresinden siparişiniz ile ilgili iletişime geçebilirsiniz.


    <h2>MADDE 5 - GENEL HÜKÜMLER:</h2>
    <p> 5.1 - ALICI, Madde 4`te belirtilen sözleşme konusu ürünün temel nitelikleri, satış fiyatı ve ödeme şekli ile
        teslimata ilişkin tüm ön bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli teyidi verdiğini
        beyan
        eder.</p>
    <p> 5.2 - Sözleşme konusu ürün, yasal 30 günlük süreyi aşmamak koşulu ile her bir ürün için ALICI`nın yerleşim
        yerinin
        uzaklığına bağlı olarak ön bilgiler içinde açıklanan sure içinde ALICI veya gösterdiği adresteki kişi/kuruluşa
        teslim edilir. ALICI’nın, SATICI’nın belirlediği taşıyıcı dışında başka bir taşıyıcı ile malın gönderilmesini
        talep
        etmesi durumunda, malın ilgili taşıyıcıya tesliminden itibaren oluşabilecek kayıp ya da hasardan SATICI sorumlu
        değildir.</p>
    <p> 5.3 - Sözleşme konusu ürün, ALICI`dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek
        kişi/kuruluşun
        teslimatı kabul etmemesinden SATICI sorumlu tutulamaz.</p>
    <p>5.4 - SATICI, sözleşme konusu ürünün sağlam, eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti
        belgeleri ve kullanım kılavuzları ile teslim edilmesinden sorumludur.</p>
    <p> 5.5 - Sözleşme konusu ürünün teslimatı için sözleşme bedelinin ALICI`nın tercih ettiği ödeme şekli ile ödenmiş
        olması şarttır. Herhangi bir nedenle ürün bedeli ödenmez veya banka kayıtlarında iptal edilir ise, SATICI ürünün
        teslimi yükümlülüğünden kurtulmuş kabul edilir.</p>
    <p>5.6 - ALICI kendisine teslim edilen ürünleri kontrol ederek teslim almak ve teslimat eksiksiz gerçekleştirildi
        ise
        ürünlerin eksiksiz teslim alındığına dair sipariş faturasını imzalamak ile yükümlüdür. ALICI tarafından sipariş
        faturası imzalanarak teslim alınan siparişleri SATICI eksiksiz teslim ettiğini kabul eder.</p>
    <p>5.7- ürünün tesliminden sonra ALICI`ya ait kredi kartının ALICI`nın kusurundan kaynaklanmayan bir şekilde
        yetkisiz
        kişilerce haksız veya hukuka aykırı olarak kullanılması nedeni ile ilgili banka veya finans kuruluşun ürün
        bedelini
        SATICI`nın ödememesi halinde, ALICI`nın kendisine teslim edilmiş olması kaydıyla ürünün 3 gün içinde SATICI`ya
        gönderilmesi zorunludur. Bu takdirde nakliye giderleri ALICI`ya aittir.</p>
    <p>5.8- SATICI mücbir sebepler veya nakliyeyi engelleyen hava muhalefeti, ulaşımın kesilmesi gibi olağanüstü
        durumlar
        nedeni ile sözleşme konusu ürünü süresi içinde teslim edemez ise, durumu öğrendiği tarihten itibaren 3 gün
        içerisinde ALICI`ya bildirmekle yükümlüdür. Bu takdirde ödediği bedel ALICI`ya bildirimi takip eden 14 gün
        içinde
        kendisine iade edilir..</p>
    <p>5.9- Garanti belgesi ile satılan ürünlerden olan veya olmayan ürünlerin arızalı veya bozuk olanlar, garanti
        şartları
        içinde gerekli onarımın yapılması için SATICI`ya gönderilebilir, bu takdirde kargo giderleri SATICI tarafından
        karşılanacaktır.</p>

    <h2>MADDE 6 - CAYMA HAKKI</h2>
    <p> 1) Tüketici, on dört gün içinde herhangi bir gerekçe göstermeksizin ve cezai şart ödemeksizin sözleşmeden cayma
        hakkına sahiptir.</p>

    <p>(2) Cayma hakkı süresi, hizmet ifasına ilişkin sözleşmelerde sözleşmenin kurulduğu gün; mal teslimine ilişkin
        sözleşmelerde ise tüketicinin veya tüketici tarafından belirlenen üçüncü kişinin malı teslim aldığı gün başlar.
        Ancak tüketici, sözleşmenin kurulmasından malın teslimine kadar olan süre içinde de cayma hakkını kullanabilir.
    </p>

    <p> (3) Cayma hakkı süresinin belirlenmesinde;</p>

    <p> a) Tek sipariş konusu olup ayrı ayrı teslim edilen mallarda, tüketicinin veya tüketici tarafından belirlenen
        üçüncü
        kişinin son malı teslim aldığı gün,</p>

    <p> b) Birden fazla parçadan oluşan mallarda, tüketicinin veya tüketici tarafından belirlenen üçüncü kişinin son
        parçayı
        teslim aldığı gün,</p>

    <p> c) Belirli bir süre boyunca malın düzenli tesliminin yapıldığı sözleşmelerde, tüketicinin veya tüketici
        tarafından
        belirlenen üçüncü kişinin ilk malı teslim aldığı gün esas alınır.</p>

    <p>(4) Malın satıcı tarafından taşıyıcıya teslimi, tüketiciye yapılan teslim olarak kabul edilmez.</p>

    <p> (5) Mal teslimi ile hizmet ifasının birlikte yapıldığı sözleşmelerde, mal teslimine ilişkin cayma hakkı
        hükümleri
        uygulanır.</p>

    <p> (6) Cayma hakkının kullanıldığına dair bildirimin cayma hakkı süresi dolmadan, yazılı olarak veya kalıcı veri
        saklayıcısı ile satıcı veya sağlayıcıya yöneltilmesi yeterlidir.</p>

    <p>(7) Satıcı, tüketicinin cayma hakkını kullandığına ilişkin bildirimin kendisine ulaştığı tarihten itibaren on
        dört
        gün içinde, varsa malın tüketiciye teslim masrafları da dahil olmak üzere tahsil edilen tüm ödemeleri iade
        etmekle
        yükümlüdür.</p>

    <p> (8) Satıcı, cayma bildirimine konu olan tüm bedelleri, tüketicinin satın alırken kullandığı ödeme aracına uygun
        bir
        şekilde ve tüketiciye herhangi bir masraf veya yükümlülük getirmeden tek seferde yapmak zorundadır.</p>

    <p>(9) Cayma hakkının kullanımında, Satıcının iade için belirttiği Aras Kargo aracılığı ile malın geri gönderilmesi
        halinde, tüketici iadeye ilişkin masraflardan sorumlu tutulamaz.</p>

    <p>(10) Satıcı malı kendisinin geri alacağına dair bir teklifte bulunmadıkça, tüketici cayma hakkını kullandığına
        ilişkin bildirimi yönelttiği tarihten itibaren on gün içinde malı satıcı ya da yetkilendirmiş olduğu kişiye geri
        göndermek zorundadır.</p>

    <p> (11) Tüketici, cayma süresi içinde malı, işleyişine, teknik özelliklerine ve kullanım talimatlarına uygun bir
        şekilde kullandığı takdirde meydana gelen değişiklik ve bozulmalardan sorumlu değildir.</p>

    <p> (12) 6502 sayılı Tüketicinin Korunması Hakkında Kanun’un 30 uncu maddesi hükümleri saklı kalmak koşuluyla,
        tüketicinin cayma hakkını kullanması durumunda yan sözleşmeler de kendiliğinden sona erer. Bu durumda tüketici,
        yukarıda 11 numaralı bent içerisinde belirtilen haller dışında herhangi bir masraf, tazminat veya cezai şart
        ödemekle yükümlü değildir.</p>

    <p> (13) Satıcı, tüketicinin cayma hakkını kullandığını yan sözleşmenin tarafı olan üçüncü kişiye derhal
        bildirmelidir.</p>

    <p> (14) Cayma Hakkının Kullanılamadığı durumlar ve İstisnalar:</p>

    <p> (14.1.) Tüketici aşağıdaki hallerde cayma hakkını kullanamaz;</p>

    <p> Niteliği itibarıyla geri gönderilmeye elverişli olmayan ürünler, tek kullanımlık ürünler, çabuk bozulma
        tehlikesi
        olan, tüketicinin istekleri veya açıkça onun kişisel ihtiyaçları doğrultusunda hazırlanan ürünler veya son
        kullanma
        tarihi geçme ihtimali olan ürünler için cayma hakkı kullanılamaz. Elektronik ortamda anında ifa edilen hizmetler
        ve
        tüketiciye anında teslim edilen gayri maddi mallar için cayma hakkı kullanılamaz.</p>

    <p> (14.2) Aşağıdaki ürünlerde cayma hakkının kullanılması, ürünün bant, mühür, paket, koruyucu ambalaj gibi
        koruyucu
        unsurlarının açılmamış olması şartına bağlıdır.</p>

    <p> Her türlü yazılım ve programlar</p>

    <p> DVD, VCD, CD, kitap ve kasetler</p>

    <p>Bilgisayar ve kırtasiye sarf malzemeleri; toner, kartuş, şerit v.b. ürünler</p>

    <p> İadesi sağlık ve hijyen açısından uygun olmayan kozmetik ve kişisel bakım ve sağlık ürünleri de dahil tüm
        ürünler</p>

    <p> (15) Cayma bildiriminin yapılacağı açık adres, faks numarası ve elektronik posta bilgileri;</p>

    <p> Adres : Karşıyaka 35550 / İzmir</p>

    <p>Telefon : 0 (850) 111 11 00</p>

    <p>Faks: 0 (212) 111 00 00</p>

    <h2> CAYMA HAKKI</h2>
    <p> Cayma hakkınızı, herhangi bir gerekçe göstermeksizin ve cezai şart ödemeksizin satın aldığınız ürünün tarafınıza
        tesliminden önce veya ürünü teslim alındıktan sonra 14 gün içinde 0850 222 15 00 nolu telefondan çağrı merkezine
        telefon açarak veya musterihizmetleri@mediamarkt.com.tr adresine e-posta göndererek cayma hakkı bildiriminde
        bulunarak kullanabilirsiniz. </p>

    <p>Cayma hakkı bildiriminde bulunduktan sonra, ürünü size teslim eden kargo şirketiyle “karşı taraf ödemeli” olarak
        10
        gün içinde Horoz Lojistik ile teslim alındıysa çağrı merkezimizle iletişime geçerek, Aras Kargo ile teslim
        alındıysa
        “Arvato Mediamarkt İade” gönderi kodu ile en yakın şubeden yollamanız gerekmektedir. </p>

    <p>Aşağıdaki ürünlerin satışında cayma hakkı kullanılamamaktadır: </p>

    <p>- Fiyati finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının kontrolünde
        olmayan
        mal veya hizmetlere ilişkin sözleşmeler. </p>

    <p> - Sizin istek veya kişisel ihtiyaçlarınız doğrultusunda hazırlanan ürünler. </p>

    <p> - Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan ürünlerden; iadesi sağlık
        ve
        hijyen açısından uygun olmayanlar. </p>

    <p> - ürünün tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde maddi
        ortamda
        sunulan kitap, dijital içerik ve bilgisayar sarf malzemeleri. </p>

    <p> - Elektronik ortamda anında teslim edilen gayrimaddi ürünler. </p>

    <p> Cayma hakkı ile ilgili daha ayrıntılı bilgiyi Önbilgilendirme Formunun 4. Maddesinde ve Satış Sözleşmesinin 6.
        Maddesinde bulabilirsiniz. </p>

</div>