.btn{
    background-color: orange;
    color: white;
    width: 300px;
    height: 40px;
}

.card-img-top:hover {
    transform: scale(1.1);
  }

  .card{
    border-radius: 8px;
    border-color: orange;
    
  }