.f-color {
    color: rgb(19, 14, 14);
    font-size: 1.5rem;
    font: italic;
}
.nav-item:hover {
  background-color: #F27A1A;
  color: white;
  border: 1px solid #F27A1A;
  border-radius: 5px;
}
.nav-link{
  text-align: center;
}
