<div class="dialog-content">
    <h2>Gizlilik Politikası</h2>
    <p>Erbaş E-Ticaret olarak, müşteri gizliliğini son derece önemsiyoruz. Aşağıdaki politikalar, sitemizdeki veri
        toplama, kullanma ve yayınlama uygulamalarını açıklar.</p>
    <h3>Toplanan Bilgiler</h3>
    <p>Sitemizdeki ürünleri görüntülemek için kaydolmanız gerekmez. Ancak, bir sipariş verirken, sizden şu bilgileri
        toplarız:</p>
    <ul>
        <li>Adınız ve soyadınız</li>
        <li>Adresiniz</li>
        <li>E-posta adresiniz</li>
        <li>Telefon numaranız</li>
        <li>Kredi kartı bilgileriniz (sadece ödeme için gerektiği zaman)</li>
    </ul>
    <p>Topladığımız bilgiler, siparişinizi tamamlamak, müşteri hizmetleri sağlamak ve gerektiğinde sizinle iletişim
        kurmak için kullanılır.</p>
    <h3>Veri Paylaşımı</h3>
    <p>Erbaş E-Ticaret, müşterilerimizin kişisel bilgilerini üçüncü taraflarla paylaşmaz veya satmaz. Ancak, hukuki
        nedenlerle veya yasal gereklilikler doğrultusunda yetkili kurumlara veri sağlamak zorunda kalabiliriz.</p>
    <h3>Çerezler</h3>
    <p>Sitemiz, ziyaret ettiğiniz sayfalar hakkında bilgi toplamak için çerezleri kullanabilir. Bu bilgiler, site
        performansını analiz etmek ve müşteri deneyimini iyileştirmek için kullanılır.</p>
    <h3>Güvenlik</h3>
    <p>Müşteri bilgilerinin güvenliği, Erbaş E-Ticaret için önemlidir. Sitemizdeki tüm veri girişleri SSL şifrelemesi
        ile korunmaktadır ve ödeme bilgileri, ödeme işlemi tamamlanana kadar şifreli bir şekilde saklanır. Ayrıca,
        müşteri bilgilerinin yetkisiz erişimden korunması için sıkı güvenlik protokolleri uygulamaktayız.</p>
    <h3>Güncellemeler</h3>
    <p>Bu gizlilik politikası, zaman zaman güncellenebilir. Değişiklikler sitemizde yayınlandıktan sonra yürürlüğe
        girer. Politikadaki önemli değişiklikler hakkında size bildirimde bulunulacaktır.</p>
    <h3>İletişim</h3>
    <p>Erbaş E-Ticaret hakkında herhangi bir sorunuz veya endişeniz varsa, lütfen bize <a href="/#contact">iletişim
            formu</a> aracılığıyla veya aşağıdaki iletişim bilgileriyle ulaşın:</p>
    <ul>
        <li>Adres: Erbaş E-Ticaret, İzmir</li>
        <li>Telefon: 507-456-62-21</li>
        <li>E-posta: info@erbaseticaret.com.tr</li>
    </ul>
</div>