<a routerLink="/my-account/create-address" style="color: green;"> <img src="../../../../../../assets/plus-circle2.gif" width="40px" height="40px"> Yeni Adres Ekle  </a>


<div class="container">
  <div class="row">
    <div *ngIf="infos.length > 0">
      <div class="card" style="width: 18rem;float:left;margin:5px !important;" *ngFor="let info of infos;">
        <input type="radio" name="img" (click)="showCase(info.id)" [checked]="info.showcase"/> {{info.title}}
        <div class="card-body">
          <h3 class="card-text">{{info.name}} {{info.surname}} </h3>
          <h5 class="card-text"> {{info.neighborhood}} {{info.description}} </h5>
          <h5 class="card-text">{{info.district}}/{{info.city}} </h5>
          <a routerLink="/my-account/edit-address/{{info.id}}" class="btn btn-success" style="margin-left: 0px; max-width: 140px; max-height: 40px;">Adresi
            Düzenle</a>
        </div>
      </div>
    </div>
    <div *ngIf="infos.length == 0" style="margin: 90px !important;">
      <h1>Kayıtlı Bir Adresiniz bulunmuyor. Alışverişi tamamlamak için bir adres ekleyiniz.!</h1>
    </div>
    <div *ngIf="!addressId" style="margin: 90px !important;">
      <h2> <img src="../../../../../../assets/arrow-2.gif" width="100px" height="100px"> Alışverişi tamamlamak için bir adres seçiniz.!</h2>
    </div>
    <div *ngIf="!basketItems.length" style="margin: 90px !important;">
      <h2>Alışverişi tamamlamak için sepetinize ürün ekleyiniz!</h2>
    </div>
    <div style="margin-bottom: 10px; margin-top: 20px;">
      “Kaydet ve Alışverişi Tamamla” butonunu tıklayarak kişisel bilgilerinizin doğru olduğunu onaylamış,  
      <u style="cursor: pointer;" (click)="showConditions()">Hükümler,</u>
      <u style="cursor: pointer;" (click)="showPolicy()">Gizlilik Politikası</u>
      <u style="cursor: pointer;" (click)="showConditions()"> ve Koşulları </u>
      kabul etmiş olursunuz.
    </div> 
    <div>
      <input type="checkbox" id="acceptance" [(ngModel)]="isAccepted">
      <label for="acceptance"> <u style="cursor: pointer;" (click)="showPreInformation()">Ön bilgilendirme formu, Satış Sözleşmesi ve Cayma Hakkını</u> okudum, kabul ediyorum.</label>
    </div>
    
</div>

<div class="modal-footer" >
    <button type="button" class="btn btn-success" style="margin-bottom: 20px;" (click)="shoppingComplete()" [disabled]="!addressId || !basketItems.length"> Kaydet Ve Alışverişi Tamamla</button>
  </div>
