<!-- <div class="tab">
    <mat-form-field class="inputs" appearance="fill">
      <mat-label>Ad*</mat-label>
      <input matInput #txtName>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Soyad*</mat-label>
      <input matInput #txtSurname>
    </mat-form-field>
    <mat-form-field class="inputs" appearance="fill">
      <mat-label>Telefon*</mat-label>
      <input matInput #txtPhone pattern="[(]\d{3}[)] \d{3} \d{2} \d{2}" placeholder="(xxx) xxx xx xx">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>İl Seçiniz</mat-label>
      <mat-select #selectCity (selectionChange)="onSelectChange($event)">
        <mat-option *ngFor="let city of cities2" [value]="city.cityId">
          {{city.cityName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="inputs" appearance="fill">
      <mat-label>İlçe Seçiniz</mat-label>
      <mat-select #selectDistrict>
        <mat-option *ngFor="let district of districts2" [value]="district.districtId">
          {{district.districtName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Mahalle*</mat-label>
      <input matInput #txtNeighborhood>
    </mat-form-field>
    <mat-form-field class="inputAd" appearance="fill">
      <mat-label>Adres*</mat-label>
      <input matInput size="medium" #txtDescription>
    </mat-form-field>
    <mat-form-field class="inputAd" appearance="fill">
      <mat-label>Adres Başlığı*</mat-label>
      <input matInput size="medium" #txtTitle>
    </mat-form-field>
  </div> -->
<!-- <button mat-raised-button class="btn" (click)="create(txtName, txtSurname, txtPhone, 
    txtDescription, txtNeighborhood, txtTitle, selectCity, selectDistrict)" color="primary">Create Address </button> -->
<form [formGroup]="frm" (ngSubmit)="create(frm.value)">
  <div class="mb-3">
    <mat-form-field appearance="fill">
      <mat-label>Ad</mat-label>
      <input matInput formControlName="name" id="name" placeholder="name"
        [ngClass]="{'is-invalid': submitted && component.name.errors}">
      <div class="form-text invalid-feedback" *ngIf="submitted && component.name.errors?.required">Lütfen Ad kısmını
        boş geçmeyiniz..</div>
      <div class="form-text invalid-feedback"
        *ngIf="submitted && (component.name.errors?.maxlength || component.name.errors?.minlength)">Ad kısmı 3 ile
        50 karakter arasında olmalıdır..</div>
    </mat-form-field>
 
    <mat-form-field appearance="fill" class="inputs">
      <mat-label>Soyad</mat-label>
      <input matInput formControlName="surname" id="surname" placeholder="surname"
        [ngClass]="{'is-invalid': submitted && component.surname.errors}">
      <div class="form-text invalid-feedback" *ngIf="submitted && component.surname.errors?.required">Lütfen Soyad
        kısmını
        boş geçmeyiniz..</div>
      <div class="form-text invalid-feedback"
        *ngIf="submitted && (component.surname.errors?.maxlength || component.surname.errors?.minlength)">Soyad kısmı 3
        ile
        50 karakter arasında olmalıdır..</div>
    </mat-form-field>
  </div>

  <div class="mb-3">
    <mat-form-field appearance="fill">
      <mat-label>Telefon</mat-label>
      <input matInput formControlName="phone" id="phone" placeholder="phone"
        [ngClass]="{'is-invalid': submitted && component.phone.errors}">
      <div class="form-text invalid-feedback" *ngIf="submitted && component.phone.errors?.required">Lütfen Telefon
        kısmını
        boş geçmeyiniz..</div>
      <div class="form-text invalid-feedback"
        *ngIf="submitted && (component.phone.errors?.maxlength || component.phone.errors?.minlength)">Telefon kısmı 10
        haneli olmalıdır..</div>
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="inputs">
      <mat-label>Adres Başlığı</mat-label>
      <input matInput formControlName="title" id="title" placeholder="title"
        [ngClass]="{'is-invalid': submitted && component.title.errors}">
      <div class="form-text invalid-feedback" *ngIf="submitted && component.title.errors?.required">Lütfen Adres Başlığı kısmını
        boş geçmeyiniz..</div>
      <div class="form-text invalid-feedback"
        *ngIf="submitted && (component.title.errors?.maxlength || component.title.errors?.minlength)">Adres Başlığı kısmı 1 ile
        30 karakter arasında olmalıdır..</div>
    </mat-form-field>
  </div>

  <div class="mb-3">
    <mat-form-field appearance="fill">
      <mat-label>İl Seçiniz</mat-label>
      <mat-select #selectCity formControlName="selectCity" id="selectCity"
        [ngClass]="{'is-invalid': submitted && component.selectCity.errors}" (selectionChange)="onSelectChange($event)">
        <mat-option *ngFor="let city of cities2" [value]="city.cityId">
          {{city.cityName}}
        </mat-option>
      </mat-select>
      <div class="form-text invalid-feedback" *ngIf="submitted && component.selectCity.errors?.required">Lütfen il
        seçiniz
      </div>
    </mat-form-field>

    <mat-form-field class="inputs" appearance="fill">
      <mat-label>İlçe Seçiniz</mat-label>
      <mat-select #selectDistrict formControlName="selectDistrict" id="selectDistrict" [ngClass]="{'is-invalid': submitted && component.selectDistrict.errors}">
        <mat-option *ngFor="let district of districts2" [value]="district.districtId">
          {{district.districtName}}
        </mat-option>
      </mat-select>
      <div class="form-text invalid-feedback" *ngIf="submitted && component.selectDistrict.errors?.required">Lütfen ilçe
        seçiniz
      </div>
    </mat-form-field>


  </div>
  <div class="mb-3">
    <mat-form-field appearance="fill" >
      <mat-label>Mahalle</mat-label>
      <input matInput formControlName="neighborhood" id="neighborhood" placeholder="neighborhood"
        [ngClass]="{'is-invalid': submitted && component.neighborhood.errors}">
      <div class="form-text invalid-feedback" *ngIf="submitted && component.neighborhood.errors?.required">Lütfen Mahalle kısmını
        boş geçmeyiniz..</div>
      <div class="form-text invalid-feedback"
        *ngIf="submitted && (component.neighborhood.errors?.maxlength || component.neighborhood.errors?.minlength)">Mahalle kısmı 3 ile
        50 karakter arasında olmalıdır..</div>
    </mat-form-field>
    </div>
    <div class="mb-3">
    <mat-form-field appearance="fill" style="min-width: 120px !important;">
      <mat-label>Adres</mat-label>
      <input matInput formControlName="description" id="description" placeholder="description"
        [ngClass]="{'is-invalid': submitted && component.description.errors}">
      <div class="form-text invalid-feedback" *ngIf="submitted && component.description.errors?.required">Lütfen Adres kısmını
        boş geçmeyiniz..</div>
      <div class="form-text invalid-feedback"
        *ngIf="submitted && (component.description.errors?.maxlength || component.description.errors?.minlength)">Adres kısmı 3 ile
        200 karakter arasında olmalıdır..</div>
    </mat-form-field>
  </div>

  


  <br>
  <button type="submit" class="btn btn-primary">Adres Ekle</button>
</form>