<h1>Şartlar & Koşullar</h1>

<h3>İnternet sitesine ilişkin kurallar</h3>
<p> internet sitesine erişim, burada yer alan kuralların kabul edildiği anlamına gelmektedir. Bu nedenle bu kuralları okumanız tavsiye edilir.</p>

<h3>Mülkiyet ve Telif Hakları</h3>
<p>Bu internet sitesi ve bu internet sitesinde yer alan resim, fotoğraflar, yazılar, görüntüler, makaleler, çizimler, grafikler, yazılımlar ve bu sitedeki diğer her türlü materyal Fikir ve Sanat Eserleri Kanunu ve ilgili mevzuat çerçevesinde “eser” mahiyetindedir. Bu sitede yer alan eserler, markalar, logolar, isimler ve diğer her türlü materyal hukuken koruma altındadır.</p>

<p>Bu internet sitesinde yer alan her türlü materyal yalnızca şahsi kullanım içindir. Bu çerçevede, sözkonusu materyallerin, herhangi bir şekilde ticari ve/veya genel kullanım amacıyla çoğaltılması, dağıtılması, iletilmesi, değiştirilmesi, değiştirilerek ve/veya ek yapılarak yeniden kullanılması, yeniden gönderilmesi MS Istanbul’un ve/veya ilgili hak sahibinin açık yazılı iznine tabidir. Verilen izinler, herhangi bir sınırlamaya tabi olmadan geri alınabilir.</p>

<h3>İçerikler ve Değişiklikler</h3>
<p>MS Istanbul, bu internet sitesinin içeriğinin güncelliğini, eksiksiz, hatasız olmasını sağlayarak kaliteli olması için çaba sarf etmiş ve etmektedir. Ancak bu internet sitesinin içeriğinin ve bu internet sitesinde yer alan linkler vasıtasıyla ulaşılan diğer internet sitelerinin içeriklerinin güncel olmaması, buradaki bilgilerin içeriğinin, yanlış, eksik, hatalı olması sebebiyle MS Istanbul’un herhangi bir hukuki sorumluluğu sözkonusu değildir.

MS Istanbul, bu internet sitesinde veya sunucularında virüs bulunmadığını ve/veya bu internet sitesinin zararlı ögeleri içermediğini taahhüt etmez.

Bu nedenle, bu internet sitesinin kullanımından doğan tüm risk, bizzat kullanıcıya aittir.

MS Istanbul, herhangi bir zamanda, herhangi bir bildirimde bulunmaksızın bu sitenin içeriğinde, kurallarında veya bu internet sitesinde yer alan materyallerde değişiklik veya bunlara eklemeler yapabilir veya bunları silebilir. Bu değişiklikler ve eklemeler, bu internet sitesinde yayınlandığı andan itibaren geçerlilik kazanır. Kullanıcı, bu internet sitesine ulaştığında, değişmiş veya eklemeler yapılmış olan kuralları otomatik olarak kabul etmiş sayılır.

Bu internet sitesinde yer alan her türlü materyal yalnızca şahsi kullanım içindir. Bu çerçevede, sözkonusu materyallerin, herhangi bir şekilde ticari ve/veya genel kullanım amacıyla çoğaltılması, dağıtılması, iletilmesi, değiştirilmesi, değiştirilerek ve/veya ek yapılarak yeniden kullanılması, yeniden gönderilmesi MS Istanbul’un ve/veya ilgili hak sahibinin açık yazılı iznine tabidir. Verilen izinler, herhangi bir sınırlamaya tabi olmadan geri alınabilir.</p>

<h3>Kısıtlamalar</h3>
<p>Kullanıcı, bu internet sitesinin tam kapasite ve sorunsuz çalışmasını kısmen veya tamamen engelleyebilecek veya bu internet sitesinin alt yapısına yük getirebilecek olan herhangi bir faaliyette veya girişiminde bulunmamayı, bir başka site kullanıcısına spam (istenmeyen e-posta) göndermemeyi veya yasaları veya ilgili mevzuatı ihlal eden açıklamalar içeren veya bu tür davranışları teşvik eden materyalleri göndermemeyi ya da yayınlamamayı kabul eder. MS Istanbul, bu başlık altında yer alan yükümlülüklere aykırı davranan kullanıcılar hakkında hukuki yollara müracaat etme hakkını saklı tutar.</p>

<h3>Gizlilik</h3>
<p>Bu sitenin ziyaret edilmesi halinde, sadece istatistiksel amaçla ve herhangi bir gruplama yapılmadan, anonim olarak analiz edilen aşağıdaki veriler bir günlük dosyasında saklanır. Bu çerçevede kaydedilen veriler aşağıdaki gibidir:</p>

<h3>IP adresiniz</h3>
<p>Veri isteğinin günü, saati ve saat dilimi
İstek tipi, günlük tipi ve erişim durumu (dosya aktarıldı, dosya bulunamadı vs.)
Dosya büyüklüğü
Dosya adı
Bu internet sitesine ulaştığınız web sitesi hakkında bilgi (dosya isteğinin gönderildiği site)
Kullanılan Web tarayıcı programına ait sürüm tipinin tanımı ve kullanılan işletim sistemi
Bununla birlikte kullanıcı, bu siteye veya bu sitede yer alan e-mail adreslerine gönderdiği her türlü ileti ya da materyalin gizli olmadığını ve mülkiyete tabi olmadığını kabul ile MS Istanbul’un, bu ileti ve materyalleri herhangi bir bedel ödemeksizin, yer, süre ve sayı bakımından sınırsız olarak kullanabileceğini ve herhangi bir süre ile sınırlı olmaksızın saklayabileceğini kabul eder.</p>
