<a routerLink="/my-account/create-address"> Yeni Adres Ekle</a>

<div class="container">
  <div class="row">
    <div class="card" style="width: 18rem;float:left;margin:5px !important;" *ngFor="let info of infos;">
      <div class="card-body">
        <h1 class="card-title">{{info.title}}</h1>
        <h3 class="card-text">{{info.name}} {{info.surname}} </h3>
        <h5 class="card-text">{{info.neighborhood}} </h5>
        <h5 class="card-text">{{info.description}} </h5>
        <h5 class="card-text">{{info.district}}/{{info.city}} </h5>
        <h5 class="card-text">{{info.phoneNumber}} </h5>
         <a class="btn btn-success" >Adresi Düzenle</a> 
      </div>
    </div>
  </div>
</div>