.container{
    
  padding: 0 !important;
  box-sizing: border-box;
}

.container .row .col-3{
  //background: radial-gradient(#AA9EFF, #9285FF, #FF94C1, #FF80CD);

}

.ng-star-inserted{
  margin: 0 !important;
}
